.menu{
    display:flex;
    justify-content: center;
    width: 100vw;
}


.menu-heading{
    background-color: #495e57;
    width: 100%;
    text-align: center;
    color: white;
    font-family: Markazi-Text;
    font-weight: 500;
    padding-block: 2.3rem;
    font-size: 2rem;
    width: 100vw;
}