.reservation-form form{
    display: grid;
    max-width: 600px;
    gap: 20px;

}

.submit-button{
    grid-column: span 2;
    margin: 20px auto;
}

.reservation-page{
    height: 70vh;
    margin-bottom: 50px;
}

.centred-div{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    width: 100vw;
}