.reservation-form form{
    display: grid;
    max-width: 600px;
    gap: 20px;

    grid-template-columns: 1fr 1fr;
}

.submit-button{
    grid-column: span 2;
    margin: 20px auto;
}

.reservation-page{
    display: flex;
    justify-content: center;
    height: 70vh;
    margin-bottom: 50px;
}

.reservation-page h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}