li{
    list-style-type: none;
}

.navbar .nav-link{
    color: var(--primary-color-1);
    text-decoration: none;
    font-weight: 700;
}

.hamburger{
    text-align: center;
    margin-top: 25px;
    padding-left: 100px;
}
.header{
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: var(--margin-primary);
   
}

.logo{
    margin-top: 20px;
}

.navbar ul{
    display: flex;
    min-width: 500px;
    justify-content: space-between;
    margin-top: 30px;

}

@media  screen and( max-width:720px) {
    .navbar{
        display: none;
    }
}


