.footer-container{
    width: calc(100% - var(--margin-primary));
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(12,1fr);
    align-items: top;
    height: auto;
    margin-top: 30px;
    
    
}


.footer-bg{
    background-color: var(--primary-color-1);
    padding-right: var(--margin-primary);
    padding-left: var(--margin-primary);
    width: 100vw;
}
.footerLogo{
    grid-column-start: 1;
    grid-column-end: 3 ;
    position: relative;
    width: 130px;
    height: auto;
    top: 10px;
}

.footer-ul a li{
    padding: none;
    margin: none;
    
}
.sitemap{
    grid-column-start: 3;
    grid-column-end: 5;
    color: white;
    display: grid;
    padding: 30px 0px;
    text-decoration: none;
}

.sitemap ul{
    text-decoration: none;
}

.footer-heading{
    margin-bottom: 30px;
}
.sitemap a{
    font-weight: 300;
    color: white;
    text-decoration: none;
}

.contact-us li{
    font-weight: 300;
    color: white;
    margin-bottom: 1rem;
}


.contact-us{
    grid-column-start: 5;
    grid-column-end: 8;
    color: white;
    display: grid;
    padding:30px 0px;
    margin: 0px;
}

.contact{
    grid-column-start: 8;
    grid-column-end: 12;
    color: white;
    display: grid;
    padding:30px 0px;
    margin: 0px;
}

footer ul{
    margin:0px;
    padding:0px;
}

@media screen and (max-width:920px){
    
.footerLogo{
    grid-column-start: 1;
    grid-column-end: 4 ;
    position: relative;
    width: 130px;
    height: auto;
    top: 10px;
}

.sitemap{
    grid-column-start: 7;
    grid-column-end: 12;
    color: white;
    display: grid;
    padding: 30px 0px;
}


.contact-us{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    color: white;
    display: grid;
    padding:30px 0px;
    margin: 0px;
}

.contact{
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 2;
    color: white;
    display: grid;
    padding:30px 0px;
    margin: 0px;
}


}

@media screen and (max-width:450px){
    
    .footerLogo{
        grid-column-start: 4;
        grid-column-end: 12 ;
        position: relative;
        width: 130px;
        height: auto;
        top: 10px;
    }
    
    .sitemap{
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 2;
        color: white;
        display: grid;
        padding: 30px 0px;
    }
    
    
    .contact-us{
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 3;
        color: white;
        display: grid;
        padding:30px 0px;
        margin: 0px;
    }
    
    .contact{
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 4;
        color: white;
        display: grid;
        padding:30px 0px;
        margin: 0px;
    }


}

.social-links{
    display: flex;
    justify-content: space-between;
    max-width: 150px;
}


.footer-ul{
    list-style-type: none;
    text-decoration: none;
    
}